@import "normalize.css";

:root {
  // colors
  --white: #fff;
  --gray-light: #a3a3a3;
  --active-color: #6a0bff;
  --active-additional-color: #5509cc;
  --bg-color: #f4f4f4;
  --text-color-black: #191919;
  --text-color-additional-black: #303030;
  --text-color-gray: #474747;
  --border-line-color: #e8e8e8;
  --border-chip-color: #bababa;
  --marker-color: #53f;
  --main-shadow: #6a637610;

  // text
  --h1: 24px;
  --h2: 24px;
  --h3: 20px;
  --text-small: 14px;
  --text-button: 18px;
  --line-height-short: 120%;
  --line-height-high: 140%;

  // border-radius
  --block-radius: 24px;
}

@font-face {
  font-family: Manrope;
  src: url("./fonts/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  src: url("./fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Manrope, sans-serif;
  color: var(--text-color-black);
  background-color: var(--bg-color);
  font-size: 16px;
}
