.wrapper {
  width: 100%;
  max-width: 392px;
  min-height: max-content;
  padding: 24px;
  background-color: var(--white);
  border-radius: var(--block-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  line-height: var(--line-height-short);
}
