.wrapper {
  width: 100%;
  max-width: 764px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 var(--main-shadow);
  box-sizing: border-box;
}

.buttonHeading {
  width: 100%;
  background-color: transparent;
  padding: 16px 0 16px 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.title {
  margin: 0 24px 0 0;
  text-align: left;
  font-size: var(--h2);
  line-height: var(--line-height-short);

  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--marker-color);
    margin: 0 8px 3px 0;
  }
}

.arrowIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 24px;
  color: var(--active-color);
  transition: transform 0.3s ease;
}

.arrowIconRotated {
  transform: rotate(180deg);
}

.content {
  margin-top: 8px;
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.labelsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonDots {
  max-height: 15px;
  background-color: transparent;
}

.questionImage {
  width: 716px;
}

.shortAnswer {
  p {
    margin: 0;
    line-height: var(--line-height-high);
    color: var(--text-color-gray);
  }

  pre {
    overflow-x: auto;
    padding: 12px;
    border-radius: 8px;
    background-color: #fafafa;
    font-size: var(--text-small);
  }

  code {
    font-family: monospace;
  }
}

.button {
  background-color: transparent;
  color: var(--active-color);
}
