.wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

.input {
  width: 100%;
  box-sizing: border-box;
  line-height: 130%;
  padding: 14px 24px 14px 52px;
  border: 1px solid var(--gray-light);
  border-radius: 70px;
  transition: 0.3s;

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:focus {
    outline: 1px solid var(--text-color-black);
  }
}

.icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--placeholder-color);
}

.errorMessage {
  font-size: var(--text-small);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ef4444;
}
