.wrapper {
  min-height: max-content;
  padding-bottom: 16px;
}

.mainTitle {
  font-size: var(--h1);
  line-height: var(--line-height-short);
  margin: 0;
  border-bottom: 1px solid var(--border-line-color);
  padding-bottom: 17px;
}

.list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

.item {
  margin-top: 24px;
}
