.wrapper {
  height: 33px;
  width: 100%;
  box-sizing: border-box;
  max-width: max-content;
  border-radius: 8px;
  background-color: var(--label-bg-color);
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: var(--text-small);
  line-height: var(--line-height-short);
}

.title {
  margin-right: 12px;
}

.value {
  padding: 2px 6px;
  background-color: var(--active-color);
  border-radius: 4px;
  color: var(--white);
}
