.wrapper {
  margin: 25px auto 100px;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.buttonBack {
  color: var(--active-color);
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 4px;
  height: 27px;
}

.emptyStateCard {
  align-items: center;
  padding: 60px 0;
}
