.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headingCard {
  min-height: 208px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.headingImage {
  width: 100%;
  max-width: 160px;
  height: 160px;
}

.mainTitle {
  font-size: var(--h1);
  line-height: var(--line-height-short);
  color: var(--text-color-additional-black);
  padding: 0;
  margin: 0 0 12px;
}

.description {
  margin: 0;
  line-height: 130%;
  color: var(--text-color-gray);
}

.buttonsGroup {
  margin: 4px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.swipeQuestionButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  line-height: 110%;
}

.answerTitle {
  font-size: var(--h2);
  margin: 0 0 20px;
}

.answer {
  p {
    margin: 0;
    line-height: 130%;
    color: var(--text-color-additional-black);
  }

  pre {
    overflow-x: auto;
    padding: 12px;
    border-radius: 8px;
    background-color: #fafafa;
    font-size: var(--text-small);
  }

  code {
    font-family: monospace;
  }
}

.longAnswerCard {
  position: relative;
}

.longAnswer {
  max-height: 693px;
  overflow: hidden;
  margin-bottom: 0;
  transition:
    max-height 0.5s ease,
    margin-bottom 0.8s ease;
}

.longAnswerExpanded {
  margin-bottom: 80px;
  max-height: 5000px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0 20px;
  border-radius: var(--block-radius);
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 0%),
    rgb(255 255 255 / 90%) 40%,
    var(--white) 100%
  );
}

.buttonExpand {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;

  & path {
    color: var(--active-color);
  }

  & svg {
    transition: transform 0.3s ease;
  }
}

.buttonExpandActive {
  & svg {
    transform: rotate(180deg);
  }
}
