.wrapper {
  width: 100%;
}

.title {
  font-size: var(--text-small);
  line-height: var(--line-height-short);
  font-weight: var(--text-panel-title-weight);
  color: var(--text-color-gray);
  margin: 0 0 8px;
  padding: 0;
}

.list {
  display: flex;
  gap: 8px;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: var(--line-height-short);
}

.chipButton {
  background-color: transparent;
}
